* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ADDFB3;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* header style start */
header {
    padding: 15px 30px;
    background-color:black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-size: 40px;
}

header a {
    text-decoration: none;
    color: #ADDFB3;
}

header nav {
    margin: 10px 0;
}

header nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

header nav ul li a {
    padding: 15px 25px;
    font-size: 1.2vw;
    border-bottom: 1px solid #ADDFB3;

}

header nav ul li a:hover {
    background: #ADDFB3;
    color: black;
    border-radius: 10px;
}

/* header style end */

/* general styles */
section {
    padding: 30px;
}

.section-title {
    font-size: 30px;
    text-decoration: underline 2px;
    text-align: center
}

.main-container {
    display: flex;
}

/* hero style start */
.hero {
    background-image: url('../images/freeze-nike.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 650px;
    width: 100%;
}

.hero h3 {
    color: #ADDFB3;
    font-size: 22px;
    font-style: italic;
    padding: 60px 0 0 0;
}

/* about style start */
.about-me {
    height: 65%;
    width: 26%;
    border: 4px solid black;
    margin: 30px;
}

.about-me img {
    max-height: 100%;
    max-width: 100%;
}

.about-me h2 {
    padding: 5px;
}

.about-me p {
    text-align: center;
    font-size: 17px;
}

/* about style end */

/* work style start */
.my-work {
    width: 74%;
    height: 730px;
}

.my-work h2 {
    margin-bottom: 15px;
}

.row {
    --bs-gutter-x: 0;
}

.work-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 20px;
    width: 100%;
    height: 100%;
}

.run-buddy-image {
    height: 55%;
}

.overwatch {
    height: 50%;
}

.logo img {
    border: 2px solid black;
    width: 100%;
    height: 100%;
    object-fit: fill;
    
}

/* contact style start */
.contact-section {
    height: 150px;
    width: 500px;
    padding-top: 0;
    margin-left: 34px;
}

.contact-container {
    display: flex;
    gap: 0 25px;
}

address {
    font-style: normal;
    font-size: 18px;
    padding-top: 10px;
    padding-left: 40px;
}

address a {
    color: black;
}

.contact-section a img {
    max-height: 70%;
    max-width: 80%;
    padding-left: 10px;
}

/* contact style end */

/* media query for smaller screens */
@media screen and (max-width: 980px) {
    header {
        padding: 15px 22px;

    }
    header nav ul li a {
        font-size: 25px;
    }

    .hero {
        height: 300px;
    }

    .main-container {
        flex-wrap: wrap;
    }

    .my-work {
        width: 100%;
    }

    .about-me {
        width: 100%;
    }

    .run-buddy-image, .taskinator {
        height: 50%;
    }

    .overwatch, .chess {
        height: 40%;
    }

    .logo img {
        height: 100%;
        width: 100%;
    }

    .contact-section {
        margin-left: 0px;
        width: 100%;
    }

    .contact-container {
        flex-wrap: wrap;
    }

    address {
        text-align: center;
        padding-left: 0px;
        margin: 0px auto;
    }

    .contact-section a img {
        max-height: 50%;
        max-width: 50%;
        display: block;
        margin: 0px auto;
    }
}