/* header style start */
header nav ul {
    list-style: none;
}

header nav ul li a:hover {
    background: #434443;
    border-radius: 10px;
}
/* header style end */

/* hero style start */
.hero {
    background-image: url('../images/freeze-nike.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 650px;
    width: 100%;
}

/* about style start */
.about-me {
    height: 65%;
    width: 26%;
}

.about-me img {
    max-height: 100%;
    max-width: 100%;
}
/* about style end */

/* work style start */
.my-work {
    width: 74%;
    height: 730px;
}

.row {
    --bs-gutter-x: 0;
}

.work-container {
    row-gap: 20px;
    width: 100%;
    height: 100%;
}

.covid-tracker-image {
    height: 55%;
}

.weather-dashboard {
    height: 55%;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

/* contact style start */
.contact-section {
    height: 150px;
    width: 500px;
}

.contact-container {
    gap: 0 25px;
}

.contact-section a img {
    max-height: 85%;
    max-width: 80%;
}

#icon-container {
    row-gap: 5px;
}
/* contact style end */

/* media query for smaller screens */
@media screen and (max-width: 980px) {
    .hero {
        height: 300px;
    }

    .my-work {
        width: 100%;
    }

    .about-me {
        width: 100%;
    }

    .covid-tracker-image,
    .weather-dashboard {
        height: 50%;
    }

    .taskinator,
    .scheduler {
        height: 40%;
    }

    .logo img {
        height: 100%;
        width: 100%;
    }

    .contact-section {
        width: 100%;
    }

    .contact-section a img {
        max-height: 80%;
        max-width: 50%;
        display: block;
    }
}